In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/CarPrice_Assignment.csv')

In [ ]:
df.drop(['car_ID', 'CarName', 'fueltype', 'aspiration', 'cylindernumber', 'fuelsystem', 'enginetype', 'doornumber', 'carbody' , 'drivewheel','enginelocation'], axis=1, inplace=True)

In [ ]:
df.head()

   symboling  wheelbase  carlength  ...  citympg  highwaympg    price
0          3       88.6      168.8  ...       21          27  13495.0
1          3       88.6      168.8  ...       21          27  16500.0
2          1       94.5      171.2  ...       19          26  16500.0
3          2       99.8      176.6  ...       24          30  13950.0
4          2       99.4      176.6  ...       18          22  17450.0

[5 rows x 15 columns]

In [ ]:
y = df['price']
X = df.drop(['price'], axis=1)

# Split our data
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import VotingRegressor

In [ ]:
models = {
    "Decision Tree": DecisionTreeRegressor(random_state=0),
    "Random Forest": RandomForestRegressor(random_state=0),
    "Gradient Boosting": GradientBoostingRegressor(random_state=0),
}

In [ ]:
df.dtypes

symboling             int64
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginesize            int64
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [ ]:
model_df = []
RMSE = []
MAE = []
r2 = []


for model, model_launch in models.items():
    
    # Loop through listed models
    model_initiated = model_launch
    model_initiated.fit(X_train, y_train)
    predictions = model_initiated.predict(X_test)
    
    # Model Names
    model_df.append(model)
    
    # Model Scores
    RMSE.append(np.sqrt(mean_squared_error(y_test, predictions)))
    MAE.append(mean_absolute_error(y_test, predictions))
    r2.append(r2_score(y_test, predictions))
   
    
    # Model Names & Scores in to a DataFrame
    
    scores_df = pd.DataFrame({'Model':model_df,
                              'RMSE': RMSE, 
                              'MAE': MAE,
                              'R2':r2}).sort_values(by='R2', ascending=False)
    
    
# Stylised DataFrame to help quickly grasp top performing models across metrics
scores_df

(scores_df.style
  .background_gradient(cmap='RdBu', subset=['RMSE', 'MAE','R2'])
  .highlight_max(subset=['RMSE', 'MAE','R2'], color='gold')
  .set_caption('Desempenho do modelo com dados não dimensionados')
  .format({'RMSE': "{:.6}",
           'MAE':  "{:.6}",
           'R2':   "{:.2%}",
          }))